body {
    margin: 0;

    font-family: 'Inria Sans', Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    outline: red solid 1px;

    padding: 10px;
    margin: auto;
    width: 65vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    outline: green solid 1px;
    color: #ed1c24;
    font-weight: 900;
    font-size: 48px;

    user-select: none;
}

.description {
    outline: darkcyan solid 1px;
    color: #ed1c24;
    font-size: 18px;
    font-weight: 600;

    user-select: none;
}

#start-button {
    outline: blue solid 1px;
    border-style: none;

    background-color: white;
    color: #ed1c24;

    font-size: 24px;
    border: #ed1c24 solid 3px;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 20px 0;

    user-select: none;
}

#start-button:hover {
    background-color: #ed1c24;
    color: white;

    font-weight: bold;
}

.game-container {
    outline: purple solid 1px;

    background-color: #ed1c24;
    color: white;
    border-radius: 20px;

    width: 700px;
    height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 10px;
}

.gc-control {
    outline: green solid 1px;
    padding: 20px 0;
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.gc-control button {
    border-style: none;

    width: 180px;
    height: 50px;

    border: white solid 3px;
    border-radius: 20px;
    background-color: #ed1c24;
    color: white;
    font-size: 24px;

    user-select: none;
}

.gc-control button:hover {
    color: #ed1c24;
    background-color: white;
}

footer {
    background-color: #ed1c24;
    color: white;

    text-align: center;
    padding: 30px 0;
}