body {
    margin: 0;

    font-family: 'Inria Sans', Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    padding: 10px;
    margin: auto;
    width: 65vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #ed1c24;
    font-weight: 900;
    font-size: 36px;

    user-select: none;
}

.description {
    color: #ed1c24;
    font-size: 18px;
    font-weight: 600;

    user-select: none;
}

#start-button {
    border-style: none;

    background-color: white;
    color: #ed1c24;

    font-size: 24px;
    border: #ed1c24 solid 3px;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 20px 0;

    user-select: none;
}

#start-button:hover {
    background-color: #ed1c24;
    color: white;
}

.game-container {
    background-color: #ed1c24;
    color: white;
    border-radius: 20px;

    width: 700px;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 10px;

    user-select: none;
}

.gc-control {
    padding: 20px 0;
    margin-bottom: 10px;
    width: 90%;

    display: flex;
    justify-content: center;
    gap: 20px;

    border-bottom: white solid 1px;
}

.gc-control button {
    border-style: none;

    width: 180px;
    height: 50px;

    border: white solid 3px;
    border-radius: 20px;
    background-color: #ed1c24;
    color: white;
    font-size: 24px;
}

.gc-control button:hover:not([disabled]) {
    color: #ed1c24;
    background-color: white;
}

.gc-control button:disabled {
    color: wheat;
    border-color: wheat;
}

.gc-status {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.gcs-label {
    text-align: center;
    font-size: 18px;
}

.gcs-game-status {
    text-align: center;
    font-size: 50px;
}

.gcs-points {
    display: flex;
    justify-content: center;
    gap: 70px;

    margin-top: 20px;
    justify-self: end;
    font-size: 24px;
}

.gcs-points span {
    padding-left: 20px;
}

footer {
    background-color: #ed1c24;
    color: white;

    text-align: center;
    padding: 30px 0;
}